#resume {
  background-image: url("../images/bg-shape.png");
  background-repeat: no-repeat;
  background-position: 40vh 375px;
  padding-bottom: 196px;
  header.has-bg {
    margin-bottom: 64px;
  }

  .items {
    .item {
      display: flex;

      &.last {
        .icon i,
        .box .title {
          color: $primary;
        }
      }

      &:hover {
        .icon,
        .icon:before {
          background-color: rgba($color: darken($primary, 40%), $alpha: 0.4);
        }
        .box {
          background: transparent;

          &:before {
            border-right-color: rgba(
              $color: darken($primary, 40%),
              $alpha: 0.4
            );
          }
          &:after {
            width: 100%;
          }
        }
      }

      &:not(:last-child) {
        margin-bottom: 42px;
      }
      .icon {
        position: relative;
        background: #ffffff0d;
        width: 46px;
        height: 46px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 46px;
        margin-top: 23px;
        transition: all 0.3s;
        i {
          transform: scale(1.5);
        }

        &:before {
          content: "";
          position: absolute;
          width: 1px;
          height: 126px;
          background: $secondary;
          top: 70px;
        }
      }
      .box {
        position: relative;
        padding: 32px;
        background: rgba($color: $secondary, $alpha: 0.75);
        border-radius: 8px;
        text-align: left;
        width: 440px;
        z-index: 1;
        flex-grow: 1;
        transition: all 0.3s;

        &:before {
          content: "";
          position: absolute;
          border-right: 9px solid rgba($secondary, 0.75);
          border-top: 9px solid transparent;
          border-bottom: 9px solid transparent;
          left: -9px;
          top: 36px;
          transition: all 0.3s;
        }
        &::after {
          content: "";
          position: absolute;
          width: 0;
          height: 100%;
          left: 0;
          top: 0;
          border-radius: 8px;
          background: rgba($color: darken($primary, 40%), $alpha: 0.4);
          z-index: -1;
          transition: all 0.3s;
        }
        .year {
          display: inline-flex;
          font-size: 18px;
          font-weight: 400;
          margin-bottom: 16px;
        }

        .title {
          margin-bottom: 16px;
        }
        p {
          font-size: 18px;
          font-weight: 400;
          color: $gray;
        }
      }
    }
  }
  .Education {
    padding-right: 34px;
  }
  .Experince {
    padding-left: 34px;
  }
}
