#testimonial {
  background-image: url(../images/bg-shape.png);
  background-repeat: no-repeat;
  background-position: 60vh 375px;
  min-height: 100vh;
  .main-section {
    .images {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin-top: 143px;
      margin-bottom: 6px;

      img {
        width: 86px;
        height: 86px;
        margin-left: 16px;
        margin-right: 16px;
        border-radius: 50%;
        opacity: 0.5;
        cursor: pointer;
        transition: opacity 0.3s, filter 0.3s, transform 0.3s;
        margin-bottom: 16px;

        &:hover {
          opacity: 1;
          filter: saturate(150%) sepia(0.5);
          transform: scale(1.05);
        }

        &.active {
          width: 110px;
          height: 110px;
          opacity: 1;
        }
      }
    }

    .comments {
      text-align: center;
      .item {
        display: none;

        &.active {
          display: inline-block;

          .box {
            background: rgba($secondary, 75%);
            padding: 32px;
            position: relative;
            border-radius: 8px;

            &:before {
              content: "";
              position: absolute;
              border-bottom: 9px solid rgba($secondary, 75%);
              border-left: 9px solid transparent;
              border-right: 9px solid transparent;
              top: -9px;
              left: 50%;
              transform: translateX(-50%);
            }

            p {
              font-family: "Playfair Display", serif;
              font-size: 24px;
              font-weight: 700;
              line-height: 42px;
              max-width: 710px;
              animation: scaleUp 0.75s;

              span {
                font-size: 86px;
                color: $primary;
                line-height: 0;
                vertical-align: -33px;
              }
            }
          }

          .writer {
            margin-top: 32px;
            margin-bottom: 16px;
            span.field {
              color: $secondary_gray;
            }
            animation: scaleUp 0.75s;
          }
        }
      }
    }
  }
}

@keyframes scaleUp {
  0% {
    transform: scale(0) rotate(20deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}
