h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

h1 {
  font-size: 4vw;
  font-weight: 700;
}

h2 {
  font-size: 2.5vw;
  font-weight: 700;
}

body {
  font-family: "Ubuntu", sans-serif;
  background: $dark_bg;
}

* {
  color: White;
}
p {
  font-size: 1.37vw;
  line-height: 175%;
}
