@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

h1 {
  font-size: 48px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

h4 {
  font-size: 20px;
  font-weight: 700;
}

body {
  font-family: "Ubuntu", sans-serif;
  background: #151516;
}

* {
  color: White;
}

p {
  line-height: 175%;
}

main {
  padding-left: 102px;
}
main > section {
  display: none;
}
main > section:not(#home) {
  padding-top: 64px;
}
main > section.active {
  display: block;
}
main > section header.has-bg {
  position: relative;
  display: inline-flex;
}
main > section header.has-bg img {
  position: absolute;
  top: 15px;
  left: -72px;
  z-index: -1;
}
main > section header.custom {
  position: relative;
  text-align: center;
  margin-bottom: 42px;
}
main > section header.custom:before {
  content: "";
  width: 100%;
  height: 2px;
  background: #1e1e20;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}
main > section header.custom H2 {
  padding: 0 24px;
  display: inline-block;
  background: #151516;
}
main > section .meteor-shower {
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  overflow: hidden;
  z-index: -1;
}
main > section .meteor-shower .meteor:nth-child(1) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 4vh;
  left: 70vw;
  animation: meteor 6101ms linear infinite;
  animation-delay: 4676ms;
}
main > section .meteor-shower .meteor:nth-child(2) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 1vh;
  left: 24vw;
  animation: meteor 7463ms linear infinite;
  animation-delay: 396ms;
}
main > section .meteor-shower .meteor:nth-child(3) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 94vh;
  left: 66vw;
  animation: meteor 7475ms linear infinite;
  animation-delay: 4205ms;
}
main > section .meteor-shower .meteor:nth-child(4) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 78vh;
  left: 18vw;
  animation: meteor 3784ms linear infinite;
  animation-delay: 808ms;
}
main > section .meteor-shower .meteor:nth-child(5) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 36vh;
  left: 84vw;
  animation: meteor 7437ms linear infinite;
  animation-delay: 2798ms;
}
main > section .meteor-shower .meteor:nth-child(6) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 73vh;
  left: 65vw;
  animation: meteor 7233ms linear infinite;
  animation-delay: 302ms;
}
main > section .meteor-shower .meteor:nth-child(7) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 90vh;
  left: 10vw;
  animation: meteor 7614ms linear infinite;
  animation-delay: 1010ms;
}
main > section .meteor-shower .meteor:nth-child(8) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 54vh;
  left: 28vw;
  animation: meteor 5677ms linear infinite;
  animation-delay: 3669ms;
}
main > section .meteor-shower .meteor:nth-child(9) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 26vh;
  left: 91vw;
  animation: meteor 6859ms linear infinite;
  animation-delay: 2703ms;
}
main > section .meteor-shower .meteor:nth-child(10) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 51vh;
  left: 87vw;
  animation: meteor 5883ms linear infinite;
  animation-delay: 4111ms;
}
main > section .meteor-shower .meteor:nth-child(11) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 83vh;
  left: 73vw;
  animation: meteor 6337ms linear infinite;
  animation-delay: 1553ms;
}
main > section .meteor-shower .meteor:nth-child(12) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 42vh;
  left: 12vw;
  animation: meteor 5066ms linear infinite;
  animation-delay: 41ms;
}
main > section .meteor-shower .meteor:nth-child(13) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 71vh;
  left: 68vw;
  animation: meteor 3967ms linear infinite;
  animation-delay: 4282ms;
}
main > section .meteor-shower .meteor:nth-child(14) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 23vh;
  left: 61vw;
  animation: meteor 5433ms linear infinite;
  animation-delay: 1467ms;
}
main > section .meteor-shower .meteor:nth-child(15) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 8vh;
  left: 1vw;
  animation: meteor 7064ms linear infinite;
  animation-delay: 830ms;
}

@keyframes meteor {
  0% {
    transform: translate(300px, -300px);
    opacity: 1;
  }
  20% {
    transform: translate(-300px, 300px);
    opacity: 0;
  }
}
.btn-custom-blue, .btn-custom-dark {
  display: inline-block;
  background: #262f48;
  padding: 10px 52px;
  text-decoration: none;
  color: #658df2;
  border-radius: 8px;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.btn-custom-blue:before, .btn-custom-dark:before {
  content: "";
  position: absolute;
  width: 119px;
  height: 119px;
  background: #658df2;
  opacity: 0.3;
  border-radius: 50%;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.3s;
}
.btn-custom-blue:hover, .btn-custom-dark:hover {
  color: white;
}
.btn-custom-blue:hover:before, .btn-custom-dark:hover:before {
  transform: translate(-50%, -50%) scale(2);
}

.btn-custom-dark {
  background: #1e1e20;
}

#sidebar {
  position: fixed;
  height: 100vh;
  padding-right: 39px;
  padding-left: 39px;
  display: flex;
  flex-direction: column;
  z-index: 10;
}
#sidebar .toggle-sidebar {
  position: absolute;
  font-size: 30px;
  width: 45px;
  height: 45px;
  background: black;
  display: none;
  justify-content: center;
  align-items: center;
  right: -45px;
}
#sidebar .logo {
  height: 20%;
  padding-top: 62px;
  text-align: center;
}
#sidebar nav {
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#sidebar nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#sidebar nav ul li {
  position: relative;
  margin-bottom: 35px;
}
#sidebar nav ul li a {
  position: relative;
}
#sidebar nav ul li a:hover i {
  color: white;
}
#sidebar nav ul li a:hover + span {
  opacity: 1;
  left: 30px;
}
#sidebar nav ul li a:before {
  content: "";
  position: absolute;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background: #658df2;
  opacity: 0;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.3s;
}
#sidebar nav ul li a.active:before {
  opacity: 0.15;
  transform: translate(-50%, -50%) scale(1);
}
#sidebar nav ul li a.active i {
  color: #658df2;
}
#sidebar nav ul li a span {
  display: none;
}
#sidebar nav ul li a i {
  font-size: 18pt;
  color: #b6b7ba;
  transition: all 0.3s;
}
#sidebar nav ul li > span {
  position: absolute;
  white-space: nowrap;
  left: 20px;
  top: -8px;
  padding: 7px 13px;
  background: #1e1e20;
  border-radius: 6px;
  opacity: 0;
  transition: all 0.3s;
}
#sidebar .toggle-mode {
  height: 20%;
  display: flex;
  align-items: flex-end;
  padding-bottom: 62px;
}
#sidebar .toggle-mode .outer {
  width: 24px;
  height: 35px;
  background: #1e1e20;
  border-radius: 24px;
}
#sidebar .toggle-mode .outer .inner {
  position: relative;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  background: #658df2;
  margin-right: auto;
  margin-left: auto;
  margin-top: 16px;
}
#sidebar .toggle-mode .outer .inner:before {
  content: "";
  width: 14px;
  height: 14px;
  background: #1e1e20;
  position: absolute;
  top: -4px;
  border-radius: 50%;
  left: 3px;
}

#home {
  background-image: url("../images/bg-shape.png");
  background-repeat: no-repeat;
  background-position: 40vh -24px;
}
#home .row {
  width: 100%;
}
#home .info img.person-circle {
  margin-bottom: 24px;
}
#home .info h1 {
  margin-bottom: 24px;
}
#home .info h1 span {
  color: #b6b7ba;
}
#home .info .field {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
#home .info .field h2 {
  color: #b6b7ba;
  margin: 0;
}
#home .info .field span {
  font-size: 24px;
}
#home .info p {
  max-width: 430px;
  margin-bottom: 74px;
}
#home .info .socials {
  margin-top: 191px;
}
#home .info .socials ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
#home .info .socials ul li {
  margin-right: 8px;
}
#home .info .socials ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 9px 11px;
  transition: all 0.3s;
  border-radius: 6px;
}
#home .info .socials ul li a:hover {
  background: #1e1e20;
}
#home .info .socials ul li a:hover span,
#home .info .socials ul li a:hover i {
  color: white;
}
#home .info .socials ul li a i {
  font-size: 18px;
  margin-right: 8px;
  color: #b6b7ba;
  transition: all 0.3s;
}
#home .info .socials ul li a span {
  color: #808185;
  transition: all 0.3s;
}
#home .image {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#home .image img {
  border-radius: 8px;
  max-width: 100%;
  transition: all 0.3s;
}

#my-atropos .atropos-shadow {
  box-shadow: 0 20px 20px 50px rgba(226, 225, 225, 0.2); /* Example - Adjust based on your needs */
}

#about_me .hero .image img {
  border-radius: 8px;
  transition: all 0.3s;
  max-width: 100%;
}
#about_me .hero .image img:hover {
  filter: grayscale(100%);
}
#about_me .hero .info header {
  margin-top: 10px;
  margin-bottom: 42px;
}
#about_me .hero .info h2 {
  color: #b6b7ba;
  margin-bottom: 16px;
}
#about_me .hero .info p {
  max-width: 560px;
  line-height: 175%;
}
#about_me .hero .info .items {
  margin-top: 30px;
  margin-bottom: 48px;
}
#about_me .hero .info .items .item {
  margin-bottom: 16px;
}
#about_me .hero .info .items .item .value {
  margin-top: 0.5px;
  color: #b6b7ba;
  margin-left: 4px;
}
#about_me .hero .info .buttons {
  display: flex;
  flex-wrap: wrap;
}
#about_me .hero .info .buttons a:first-child {
  margin-right: 24px;
}
#about_me .rate {
  display: flex;
}
#about_me .rate span {
  width: 15px;
  height: 15px;
  display: flex;
}
#about_me .rate span:not(:last-child) {
  margin-right: 12px;
}
#about_me .rate span:before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 4px;
  background: #1e1e20;
  transform: rotate(40deg);
}
#about_me .rate span:after {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 4px;
  background: #1e1e20;
  transform: rotate(50deg);
}
#about_me .rate span.fill:before, #about_me .rate span.fill:after {
  background: #658df2;
}
#about_me .languages-skills {
  margin-top: 126px;
}
#about_me .languages-skills .languages-key-skills .languages .items {
  margin-bottom: 43px;
}
#about_me .languages-skills .languages-key-skills .languages .items .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#about_me .languages-skills .languages-key-skills .languages .items .item:not(:last-child) {
  margin-bottom: 16px;
}
#about_me .languages-skills .languages-key-skills .languages .items .item .info h3 {
  margin-bottom: 4px;
}
#about_me .languages-skills .languages-key-skills .languages .items .item .info .level {
  color: #b6b7ba;
}
#about_me .languages-skills .languages-key-skills .languages .items .item .rate {
  margin-top: -20px;
}
#about_me .languages-skills .languages-key-skills .key-skills .items .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#about_me .languages-skills .languages-key-skills .key-skills .items .item:not(:last-child) {
  margin-bottom: 32px;
}
#about_me .languages-skills .web-skills .items {
  margin-left: -20px;
  margin-right: -20px;
}
#about_me .languages-skills .web-skills .items .item {
  position: relative;
  padding: 32px 8px;
  text-align: center;
  background: #1e1e20;
  margin-bottom: 16px;
  border-radius: 8px;
  z-index: 1;
  overflow: hidden;
}
#about_me .languages-skills .web-skills .items .item a {
  text-decoration: none;
  color: white;
}
#about_me .languages-skills .web-skills .items .item:hover:before, #about_me .languages-skills .web-skills .items .item:hover:after {
  transform: translate(0, 0);
}
#about_me .languages-skills .web-skills .items .item:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #0b2c80;
  left: 0;
  top: 0;
  border-radius: 8px;
  z-index: -1;
  transform: translate(100%, -100%);
  transition: all 0.6s;
}
#about_me .languages-skills .web-skills .items .item:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #0b2c80;
  left: 0;
  top: 0;
  border-radius: 8px;
  z-index: -1;
  transform: translate(-100%, 100%);
  transition: all 0.6s;
}
#about_me .languages-skills .web-skills .items .item img {
  margin-bottom: 21px;
}
#about_me .languages-skills .web-skills .items .item h3 {
  margin-bottom: 8px;
}
#about_me .certificates {
  margin-top: 120px;
  margin-bottom: 200px;
}
#about_me .certificates .items .item img {
  width: 100%;
  transition: all 0.3s;
  padding-bottom: 20px;
}
#about_me .certificates .items .item img:hover {
  transform: scale(1.1);
}

#resume {
  background-image: url("../images/bg-shape.png");
  background-repeat: no-repeat;
  background-position: 40vh 375px;
  padding-bottom: 196px;
}
#resume header.has-bg {
  margin-bottom: 64px;
}
#resume .items .item {
  display: flex;
}
#resume .items .item.last .icon i,
#resume .items .item.last .box .title {
  color: #658df2;
}
#resume .items .item:hover .icon,
#resume .items .item:hover .icon:before {
  background-color: rgba(11, 44, 128, 0.4);
}
#resume .items .item:hover .box {
  background: transparent;
}
#resume .items .item:hover .box:before {
  border-right-color: rgba(11, 44, 128, 0.4);
}
#resume .items .item:hover .box:after {
  width: 100%;
}
#resume .items .item:not(:last-child) {
  margin-bottom: 42px;
}
#resume .items .item .icon {
  position: relative;
  background: rgba(255, 255, 255, 0.0509803922);
  width: 46px;
  height: 46px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 46px;
  margin-top: 23px;
  transition: all 0.3s;
}
#resume .items .item .icon i {
  transform: scale(1.5);
}
#resume .items .item .icon:before {
  content: "";
  position: absolute;
  width: 1px;
  height: 126px;
  background: #1e1e20;
  top: 70px;
}
#resume .items .item .box {
  position: relative;
  padding: 32px;
  background: rgba(30, 30, 32, 0.75);
  border-radius: 8px;
  text-align: left;
  width: 440px;
  z-index: 1;
  flex-grow: 1;
  transition: all 0.3s;
}
#resume .items .item .box:before {
  content: "";
  position: absolute;
  border-right: 9px solid rgba(30, 30, 32, 0.75);
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  left: -9px;
  top: 36px;
  transition: all 0.3s;
}
#resume .items .item .box::after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 8px;
  background: rgba(11, 44, 128, 0.4);
  z-index: -1;
  transition: all 0.3s;
}
#resume .items .item .box .year {
  display: inline-flex;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 16px;
}
#resume .items .item .box .title {
  margin-bottom: 16px;
}
#resume .items .item .box p {
  font-size: 18px;
  font-weight: 400;
  color: #b6b7ba;
}
#resume .Education {
  padding-right: 34px;
}
#resume .Experince {
  padding-left: 34px;
}

#work .filters {
  text-align: center;
  margin-top: 81px;
  margin-bottom: 71px;
}
#work .filters button {
  background: transparent;
  color: #808185;
  border: none;
  padding: 8px 16px;
  margin-right: 8px;
  margin-left: 8px;
}
#work .filters button.active {
  color: #fff;
  background: #1e1e20;
  border-radius: 8px;
}
#work .work-items .item {
  margin-bottom: 24px;
}
#work .work-items .item .wrap {
  position: relative;
  overflow: hidden;
}
#work .work-items .item .wrap:hover:before {
  transform: rotate(0deg);
}
#work .work-items .item .wrap:hover:after {
  transform: translate(-50%, -50%) rotate(0deg);
}
#work .work-items .item .wrap:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(101, 141, 242, 0.6);
  border-radius: 8px;
  z-index: 1;
  cursor: pointer;
  transform: rotate(-100deg);
  transform-origin: top left;
  transition: all 0.3s;
}
#work .work-items .item .wrap:after {
  content: "View";
  position: absolute;
  width: 96%;
  height: 95%;
  background: rgba(21, 21, 22, 0.8);
  border-radius: 8px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(100deg);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  letter-spacing: 3px;
  z-index: 2;
  cursor: pointer;
  transition: all 0.3s;
  transform-origin: bottom left;
}
#work .work-items .item .wrap img {
  width: 100%;
  opacity: 0.5;
  border-radius: 8px;
  cursor: pointer;
}

@media (max-width: 991px) {
  main > section {
    padding-right: 32px;
    padding-left: 32px;
  }
  #home .info {
    padding-top: 80px;
  }
  #home .info .socials {
    margin-top: 120px;
  }
  #home .info .socials ul {
    justify-content: space-between;
  }
  #home .image {
    justify-content: flex-start;
    height: unset;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
@media (min-width: 992px) {
  #about_me .hero .info {
    padding-left: 60px;
  }
}
@media (max-width: 767px) {
  #sidebar {
    background: black;
    padding-right: 60px;
    transform: translateX(-100%);
    transition: all 0.3s;
  }
  #sidebar.open {
    transform: translateX(0%);
  }
  #sidebar .toggle-sidebar {
    display: flex;
  }
  #sidebar .logo {
    text-align: left;
  }
  #sidebar nav ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  #sidebar nav ul li a span {
    display: block;
    padding-left: 8px;
  }
  #sidebar nav ul li > span {
    display: none;
  }
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 20px;
  }
  main {
    padding-left: 0;
  }
  main > section header.has-bg img {
    left: -13px;
    top: -1px;
  }
  #home {
    background-image: unset;
  }
  #home .info {
    padding-top: 80px;
  }
  #home .info .socials {
    margin-top: 120px;
  }
  #home .info .socials ul {
    justify-content: space-between;
  }
  #about_me .hero .info .buttons {
    flex-direction: column;
  }
  #about_me .hero .info .buttons a {
    width: 100%;
    text-align: center;
  }
  #about_me .hero .info .buttons .btn-custom-dark {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  #resume .items .item {
    position: relative;
  }
  #resume .items .item .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    left: -23px;
    margin-top: 0;
    background: rgba(30, 30, 32, 0.75);
  }
  #resume .items .item .icon:before {
    display: none;
  }
  #resume .items .item .box:before {
    display: none;
  }
  #resume .Education,
  #resume .Experience {
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media (min-width: 1400px) {
  #about_me .languages-skills .languages-key-skills {
    padding-right: 100px;
  }
}
@media (max-width: 1199px) {
  #resume .Experience {
    margin-top: 100px;
  }
}/*# sourceMappingURL=main.css.map */